.footer_wrap
    - var now = new Date()
    - var nowYear = now.getFullYear()
    if theme.since && theme.since != nowYear
        .copyright!= `&copy;${theme.since} - ${nowYear} by ${config.author}`
    else
        .copyright!= `&copy;${nowYear} by ${config.author}`
    //- .theme-info Powered by #[a(href='https://hexo.io' rel='nofollow') Hexo] & #[a(href='https://github.com/PhosphorW/hexo-theme-academia' rel='nofollow') Academia Theme]
    if theme.counter.enable 
        .theme-info <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
                    <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
                    <span class="post-meta-divider">|</span>
                    <span id="busuanzi_container_site_uv">本站访客数<span id="busuanzi_value_site_uv"></span>人</span>